@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 0 1rem;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
}

#nav-bar ul li {
    padding-left: 1rem;
    
}

.menu-item {

}

.menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;

    justify-content: center;
    flex-direction: row;
}

.table-container {
    max-width: 100%;
    overflow: scroll;
    display: flex;
}

/* Diagrama de execução */
#diagrama {
    margin: 0;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#tab-cabecalho th {
    width: 20rem;
    height: 3rem;
    text-align: center;
    
}
#tab-cabecalho th:first-child {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 50rem;
}

.tab-linha {    
    text-align: center;
    height: 2.5rem;
}
.tab-linha td {
    border-right: 1px solid black;
    
}
.nome-instrucao {
    font-size: 1rem;
}



/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
}

/* Banco de registradores e memoria */
.banco {
    height: 50%;
    max-height: 50rem;
    overflow-y: scroll;
    margin-left: 1rem;
    display: flex;
    border: 1px solid black;
    text-align: left;
}
.banco th {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem;
}
.banco th:last-child {
    border: none;
}
.banco td {
    border: 1px solid black;
}

#memoria {
    margin-top: 1rem;
}

/* Insercao de codigo */
.inserir-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 50%);

    position: absolute;
    top: calc((100% - 45rem) / 2);
    width: 30rem;
    height: 45rem;
    padding: 1rem;
    
    border-radius: 1rem;
    text-align: center;
    margin: 0;

    display: none;
    flex-direction: column;
}
.inserir-container-on {
    display: flex;
}

.inserir-container textarea {
    padding-top: .5rem;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: transparent;
    font-family: monospace;
    resize: none;
    margin-bottom: 1rem;
}
.inserir-container textarea:focus {
    border: none;
}

.inserir-container .submit-btn {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 80%);
    background-color: rgba(0, 0, 0, 10%);
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
}
.inserir-container .submit-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 75%);
    color: white;
}