@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins&display=swap');

/* Color Pallete */
:root {
    --black: #000000;
    --smooky-black: #121110;
    --middle-grey: #8a817c;
    --pale-silver: #c5c0be;
    --white: #FFFFFF;
    --asparagus: #8CAE68;
    --maximum-green: #60992D; 
}

/* Styles */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 10vh;
    padding: 0 1rem;
}

header h1 {
    margin: 0;

}
header h1 a {
    text-decoration: none;
    color: var(--black);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-bar ul li {
    margin-left: 1rem;  
}

.menu-item a {
    text-decoration: none;
    color: var(--black);
}
.menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menu-item:active {
    color: #8a817c;
}


#inserir-codigo {
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--asparagus);
}
#inserir-codigo:active {
    background-color: var(--maximum-green);
}

main {
    display: flex;
    max-width: 100vw;
    height: 90vh;
    justify-content: center;
    flex-direction: row;
    padding: 0 1rem;
}

.table-container {
    border: 1px solid black;
    max-width: 100%;
    width: 100vw;
    overflow: scroll;
    max-height: 90vh;
    margin-bottom: 1rem;
}

/* Diagrama de execução */
#diagrama {
    margin: 0;
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
#tab-cabecalho th {
    max-width: 100%;
    min-width: 5rem;
    height: 3rem;
    text-align: center;

}
#tab-cabecalho th:first-child {
    min-width: 15rem;
}
.tab-linha {    
    text-align: center;
    height: 2.5rem;
}
.tab-linha td:not(:empty) {
    border: 1px solid black;
    width: 3rem;
}
.tab-linha td:first-child {
    border: none;
}
.nome-instrucao {
    font-size: 1rem;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Banco de registradores e memoria */
.banco {
    height: 50%;
    max-height: 50rem;
    overflow-y: scroll;
    margin-left: 1rem;
    display: flex;
    border: 1px solid black;
    text-align: left;
}
.banco th {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem;
}
.banco th:last-child {
    border: none;
}
.banco td {
    border: 1px solid black;
}

#memoria {
    margin-top: 1rem;
}

/* Insercao de codigo */
.inserir-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 50%);

    position: absolute;
    top: calc((100% - 45rem) / 2);
    width: 30rem;
    height: 45rem;
    padding: 1rem;
    
    border-radius: 1rem;
    text-align: center;
    margin: 0;

    display: none;
    flex-direction: column;
}
.inserir-container-on {
    display: flex;
}

.inserir-container textarea {
    padding-top: .5rem;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: transparent;
    font-family: monospace;
    resize: none;
    margin-bottom: 1rem;
}
.inserir-container textarea:focus {
    border: none;
}

.inserir-container .submit-btn {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 80%);
    background-color: rgba(0, 0, 0, 10%);
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
}
.inserir-container .submit-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 75%);
    color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 1rem;
    background: var(--white);
}
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--middle-grey);
}

/* Responsivity */
@media screen and (max-width: 768px) {
    body {
        max-height: 100vh;
    }
    header {
        margin-bottom: 1rem;        
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        z-index: 1;
    }   
    
    #nav-bar ul {
        margin: 0;
        padding: 0;
        flex-direction: row;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .table-container {
        height: 100vh;
    }
    .sidebar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .banco {
        width: 100%;
        height: 10rem;
        margin: 0;
        justify-content: center;
    }
    .banco td {
        width: 100%;
    }
    #memoria {
        margin: 0;
        margin-left: 1rem;
    }

    .inserir-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        border: none;
        width: 100%;
        height: 100%;
    }
}
